:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
  color: #ffffffde;
  background-image: url(https://images.unsplash.com/photo-1618941240535-234c3212e3e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBub2NoZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;

  
}

